apiVersion: v1
kind: Pod
metadata:
  name: myapplication
  labels:
    app.kubernetes.io/name: myapplication
spec:
  serviceAccountName: scylla-member
  containers:
    # - image: "docker.io/tjlscylladb/apps:3.12-slim"
    - image: "docker.io/tjlscylladb/apps:latest"
      name: myapplication
      imagePullPolicy: Always # IfNotPresent
      command: ["sleep", "infinity"]
      volumeMounts:
        - mountPath: /dev/shm
          name: devshm
      resources:
        limits:
          cpu: "2"
          memory: "4Gi"
        requests:
          cpu: "0.5"
          memory: "1Gi"
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: scylla.scylladb.com/node-type
            operator: In
            values:
            - scylla
  tolerations:
    - effect: NoSchedule
      key:  kubernetes.io/arch
      operator: Equal
      value: arm64
  volumes:
    - name: devshm
      emptyDir:
        medium: Memory
        sizeLimit:   #  64Mi is the default
